.individualMovies{
    display: flex;
    width: 800px;
    margin: 40px 0 0 370px;

}
.characteristicsMovies{
    margin: 50px 0 0 0px;

}

.general{
    width: 320px;
}

.imageMovie{
    border-radius: 10px;
    border: 1px solid white;
}

.titleMovie{
    display: flex;
    justify-content: center;
    margin-top: 55px;
    font-family: "Bell MT";
    font-size: 30px;
}

.descriptionMovie{
    font-size: 17px;
    margin-bottom: 15px;
}

.releaseData{
    margin-bottom: 10px;
}

.popularity{
    margin-bottom: 10px;
}

.originalLang{
    margin-bottom: 10px;
}

.allGenres{
    width: 100%;
    /*flex-wrap: wrap;*/
    display: flex;
    margin-left: 320px;
}

.indGenres{
    display: flex;
    justify-content: center;
    align-items: center;
    border: white;
    border-radius: 5px;
    background: darkred;
    color: white;
    margin-right: 2px;
    padding: 2px;
    font-size: 14px;
}
